@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-geist-sans);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  background-color: transparent;
}

#root {
  touch-action: auto !important;
}
